{% extends 'base.html.twig' %}

{% block title %}Phonebook{% endblock %}

{% block body %}
  {% if contacts %}
    <table id="contacts" class="table table-striped">
      <thead>
        <tr>
          <th>Contact Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
          <tr>
            <td>{{ contact.name }}</td>
            <td>
              <a href="/contact/{{ contact.id }}" class="btn btn-dark">Show</a>
              <a href="/contact/edit/{{ contact.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-article" data-id="{{ contact.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No contacts to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="js/main.js"></script>
{% endblock %}